.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: absolute;
    border-radius: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    height: 400px;
    background-color: #fff;
    padding: 20px;
}

.closeModalBtn {
    position: absolute;
    right: 15px;
    top: 15px;
}

.title {
    color: black;
}

.text {
    color: black;
}